In [ ]:
import pandas as pd

## This step concatenates the three datasets extracted in the previous phase.

 **If you're working with only one data file, you can skip this section and load your dataset directly using your preferred method**

In [ ]:
# organize the dataset
df1= pd.read_csv('posts_8.csv')
df2= pd.read_csv('posts_11.csv')
df3= pd.read_csv('posts_12.csv')

In [ ]:
df = pd.concat([df1,df2,df3], axis=0)

In [ ]:
len(df)

2411

In [ ]:
# remove dupplicate
df.duplicated().sum()

np.int64(44)

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
len(df)

2367

# autor (user) anonymization

In [ ]:
# dict
# key = oficial name
# value = user_id

In [ ]:
user_name = {}
number = 1

In [ ]:
for autor in df["Author"]:
    if autor not in user_name:
        user_name[autor] ="user_"+str(number)
        number = number+1

In [ ]:
def replace_name(name):
    if name in user_name:
        return user_name[name]

In [ ]:
df["Author"]= df["Author"].apply(lambda x: replace_name(x))

In [ ]:
df.to_csv('posts_final.csv', index=False)

In [ ]:
arq = "labels.txt"
with open(arq, "w") as f:
    f.write(str(user_name))